# API Key Gemini
GOOGLE_API_KEY=AIzaSy...

# Model AI (gemini-2.5-flash, gemini-embedding-001, gemini-2.5-flash-lite)
GEMINI_LLM_MODEL=gemini-2.5-flash
GEMINI_EMBED_MODEL=gemini-embedding-001

# Database Configuration
DB_URL=postgres://user:password@localhost:5432/dbname

# Indexing Configuration
INDEX_PATH=./...
INDEX_EXCLUDE=example/rest_api/main.go

# MCP Configuration
# Mode: stdio atau http
MCP_TRANSPORT=stdio
MCP_PORT=8082
# Digunakan oleh client/agent untuk HTTP mode
#MCP_URL=http://localhost:8082/mcp

# RAG Search Threshold
# Cosine similarity (pure semantic): 0.55
# RRF hybrid score: 0.01
RAG_THRESHOLD=0.01
